@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --verde: #0c443a;
    --lemon: #25d1b2;
    --degradado: linear-gradient(90deg, var(--lemon),var(--verde))
}

*{

    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;

}

*::selection{
    background: var(--lemon);
    color: white;
}


html{
    font-size: 62.4%;
    /*overflow: hidden;*/

}

body{
    background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom:2rem ;
}